<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-plugin-image-edit" version="0.1.0">

  <name>ImageEdit</name>
  <engines>
    <engine name="cordova-android" version=">=6.4.0" />
  </engines>
  <asset src="www/imageEdit.js" target="js/imageEdit.js"/>
  <js-module src="www/imageEdit.js" name="imageEdit">
    <clobbers target="imageEdit" />
  </js-module>


  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ImageEdit">
        <param name="android-package" value="com.bendspoons.plugin.imageedit.ImageEdit"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
        <activity android:name="com.bendspoons.plugin.imageedit.ImageEditActivity" android:configChanges="orientation|screenSize" ></activity>
    </config-file>

    <source-file src="src/android/ImageEdit.java" target-dir="src/com/bendspoons/plugin/imageedit/" />
    <source-file src="src/android/ImageEditActivity.java" target-dir="src/com/bendspoons/plugin/imageedit" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_cancel.png" target="res/drawable-hdpi/ic_action_cancel.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_cancel.png" target="res/drawable-mdpi/ic_action_cancel.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_cancel.png" target="res/drawable-xhdpi/ic_action_cancel.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_cancel.png" target="res/drawable-xxhdpi/ic_action_cancel.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_cancel.png" target="res/drawable-xxxhdpi/ic_action_cancel.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_crop.png" target="res/drawable-hdpi/ic_action_crop.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_crop.png" target="res/drawable-mdpi/ic_action_crop.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_crop.png" target="res/drawable-xhdpi/ic_action_crop.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_crop.png" target="res/drawable-xxhdpi/ic_action_crop.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_crop.png" target="res/drawable-xxxhdpi/ic_action_crop.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_filter.png" target="res/drawable-hdpi/ic_action_filter.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_filter.png" target="res/drawable-mdpi/ic_action_filter.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_filter.png" target="res/drawable-xhdpi/ic_action_filter.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_filter.png" target="res/drawable-xxhdpi/ic_action_filter.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_filter.png" target="res/drawable-xxxhdpi/ic_action_filter.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_greyscale.png" target="res/drawable-hdpi/ic_action_greyscale.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_greyscale.png" target="res/drawable-mdpi/ic_action_greyscale.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_greyscale.png" target="res/drawable-xhdpi/ic_action_greyscale.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_greyscale.png" target="res/drawable-xxhdpi/ic_action_greyscale.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_greyscale.png" target="res/drawable-xxxhdpi/ic_action_greyscale.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_rotate.png" target="res/drawable-hdpi/ic_action_rotate.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_rotate.png" target="res/drawable-mdpi/ic_action_rotate.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_rotate.png" target="res/drawable-xhdpi/ic_action_rotate.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_rotate.png" target="res/drawable-xxhdpi/ic_action_rotate.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_rotate.png" target="res/drawable-xxxhdpi/ic_action_rotate.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_save.png" target="res/drawable-hdpi/ic_action_save.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_save.png" target="res/drawable-mdpi/ic_action_save.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_save.png" target="res/drawable-xhdpi/ic_action_save.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_save.png" target="res/drawable-xxhdpi/ic_action_save.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_save.png" target="res/drawable-xxxhdpi/ic_action_save.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_sharp.png" target="res/drawable-hdpi/ic_action_sharp.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_sharp.png" target="res/drawable-mdpi/ic_action_sharp.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_sharp.png" target="res/drawable-xhdpi/ic_action_sharp.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_sharp.png" target="res/drawable-xxhdpi/ic_action_sharp.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_sharp.png" target="res/drawable-xxxhdpi/ic_action_sharp.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_sw.png" target="res/drawable-hdpi/ic_action_sw.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_sw.png" target="res/drawable-mdpi/ic_action_sw.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_sw.png" target="res/drawable-xhdpi/ic_action_sw.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_sw.png" target="res/drawable-xxhdpi/ic_action_sw.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_sw.png" target="res/drawable-xxxhdpi/ic_action_sw.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_tick.png" target="res/drawable-hdpi/ic_action_tick.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_tick.png" target="res/drawable-mdpi/ic_action_tick.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_tick.png" target="res/drawable-xhdpi/ic_action_tick.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_tick.png" target="res/drawable-xxhdpi/ic_action_tick.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_tick.png" target="res/drawable-xxxhdpi/ic_action_tick.png" />

    <resource-file src="src/android/res/drawable-hdpi/ic_action_trash.png" target="res/drawable-hdpi/ic_action_trash.png" />
    <resource-file src="src/android/res/drawable-mdpi/ic_action_trash.png" target="res/drawable-mdpi/ic_action_trash.png" />
    <resource-file src="src/android/res/drawable-xhdpi/ic_action_trash.png" target="res/drawable-xhdpi/ic_action_trash.png" />
    <resource-file src="src/android/res/drawable-xxhdpi/ic_action_trash.png" target="res/drawable-xxhdpi/ic_action_trash.png" />
    <resource-file src="src/android/res/drawable-xxxhdpi/ic_action_trash.png" target="res/drawable-xxxhdpi/ic_action_trash.png" />

  </platform>

</plugin>
